

.container{
	top:-75%;
	left:-77%;
	background-image: url("./images/colour2.png");
	height:250vh;
	width:250vw;
	position:fixed;
	background-size:90% auto;  /*1st try: cover; 2nd try: 200vh auto */
    background-position: center;
    z-index: -1;
    animation: spin1 7s ease-out; 
    animation-fill-mode:forwards;
    animation-iteration-count:1;
	animation-play-state: play;
	overflow-y:hidden;

}

@keyframes spin1 { /*1*/
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(3600deg);
	}
}


@font-face {
    font-family: GlyphWorld;
    src: url(fonts/GlyphWorld-Meadow.otf);
}
  

/* h1 {
    font-size:100pt;
    font-family:GlyphWorld;
    line-height: 200px;
    color:black;
    direction: flex; 
    flex-direction: row;
    align-items: center;
    text-align:center;
    padding-top:20%;
    padding-bottom:200 px;
      
} */
      
/* p {
    font-size:20pt;
    font-family: urbane-rounded,sans-serif;
    line-height: 30px;
    color:black;
      
    direction: flex; 
    flex-direction: row;
    align-items: center;
    text-align:center;

} */

#display {
    font-size:20pt;
    font-family: urbane-rounded,sans-serif;
    line-height: 30px;
    color:black;
    padding-top:400px;
    direction: flex; 
    flex-direction: row;
    align-items: center;
    text-align:center;
    opacity:0;
    animation:opacity 20s linear;
}

@keyframes opacity{
    0%{
        opacity:0;
    }
    35% {
        opacity:0;
    }
    50%{
        opacity:1;
    }
    75%{
        opacity:1;
    }
    70% {
        opacity:1;
    }
    100%{
        opacity:1;
    }
}


button {
    background-color:black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family:Helvetica;
    position: relative;


  /*  font-size:100pt;
    font-family:GlyphWorld;
    line-height: 200px;
    color:black;
    align-items: center;
    text-align:center;
    padding-top:15%;
    padding-bottom:100 px;
    margin-left:300px;
    background-color:transparent;
    border:none;*/
}


.clicks {
     position: relative;
     top: 15%;
     left: 47%;

}


#questionbox {
    width: 50%;
    height:50px;
    position: relative;
    top: 0%;
    left: 25%;
    font-size: 25px;
    background:white;
    opacity:0.8;
    border: none;
    resize: none;
    font-family: 'Helvetica';
    font-weight: 400;
    text-align: center;
    padding-top: 25px;
    padding-left: 0px;
    border-radius: 55px;

}

border-radius: 4px;
  /*box-shadow: 0 9px 11px rgba(0, 0, 0, 0.4);*/
  /* transform: translate(-50%, -50%); */
  background:'white';
  transition: all 0.3s ease;
}
